@import "./base/Base.scss";

.hero-container {
  background-color: $theme-dark-blue;
  min-height: 100vh;
}

.hero-container .hero div {
  font-weight: bold;
}

.hero-title {
  font-size: 7em;
}

.hero-subtitle {
  font-size: 4em;
}

.hero-position::before {
  content: "|";
  color: rgba(255, 255, 255, 0.3);
  font-weight: lighter;
  margin-right: 10px;
}

.hero-position::after {
  content: "|";
  color: rgba(255, 255, 255, 0.3);
  font-weight: lighter;
  margin-left: 10px;
}

.hero-contact-icons {
  font-size: 4em;
}

a.contact-icon {
  color: $theme-font-white;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

a.contact-icon:hover {
  color: $theme-pop-color;
  //   transition: color 0.5s ease;
}

.learn-more-btn-container {
  padding-top: 5%;
}

.learn-more-btn {
  background-color: $theme-dark-blue;
  color: $theme-font-white;
  font-size: 1.75em;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.learn-more-btn:hover {
  background-color: $theme-pop-color;
  border-color: $theme-pop-color;
  color: $theme-dark-blue;
}

@media screen and (max-width: 450px) {
  .hero-subtitle {
    font-size: 2.5em;
  }
}
