.projects-container {
  padding: 5%;
}

.projects-description {
  font-size: 1.4em;
}

.projects-page-link {
  padding: 4% 0 0;
}

.projects-page-link a {
  font-size: 1.75em;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
