$theme-pop-color: #ef8354;
$theme-white: #ffffff;
$theme-grey: #bfc0c0;
$theme-blue: #4f5d75;
$theme-dark-blue: #2d3142;
$theme-font-white: #f5f5f5;

.has-text-pop-color {
  color: $theme-pop-color;
}
